<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--현재 파일은 sql를 모아 놓는 파일이고, -->
<!--이 sql 모음 파일을 -->
<!-- 연결할 파일 지정, 자바 폴더 하위의 파일에 연결
주의 사항!,
1) 연결할 2개의 파일이름이 동일 해야한다.
2) id = getNow -> 연결할 파일의 메소드 명과 동일함.
-->
<mapper namespace="com.busanit501.spring_project.mapper.TodoMapper">
    <select id="getTime" resultType="string">
        select now()
    </select>
    <insert id="insert">
        insert tbl_todo (title,dueDate,writer) values
               (#{title}, #{dueDate}, #{writer})
    </insert>
    <select id="selectAll" resultType="com.busanit501.spring_project.domain.TodoVO">
        select * from tbl_todo order by tno desc
    </select>
    <select id="selectByTno" resultType="com.busanit501.spring_project.domain.TodoVO">
        select * from tbl_todo where tno=#{tno}
    </select>
    <update id="modify" parameterType="com.busanit501.spring_project.domain.TodoVO">
        update tbl_todo set title=#{title},dueDate=#{dueDate},writer=#{writer}, finished = #{finished} where tno=#{tno}
    </update>
    <delete id="delete" >
        delete from tbl_todo where tno=#{tno}
    </delete>
<!--    PageRequestDTO에서 getSkip이라는 메서드가 있는데-->
<!--    Mybatis가 기본적으로 "getXXX"형식으로 처리된 메서드는 #{skip}으로 처리된다-->
    <select id="selectList">
        select * from tbl_todo order by tno desc limit #{skip},#{size}
    </select>

    <select id="getCount">
        select count(tno) from tbl_todo
    </select>
</mapper>